<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}SuperHeros{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="color">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/heros/new">Add New Hero</a></li>
        <li role="presentation"><a href="/squads/list">Add Squad</a></li>
    </ul>
    <div class="container">
        <div class="page-header">
            <h1>Home for the heros</h1>
        </div>
        <div class="col-md-12">
            {{#block "content"}}
            {{/block}}
        </div>
    </div>
</div>
{{#block "footer"}}
    </body>
    </html>
{{/block}}